*{
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

body{
  background-color: #F0F0F3;
}

main{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.calculator{
  background-color: #232222;
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 700px;
  border-radius: 20px;
  box-shadow: 0 0 15px 8px #0000002a;
}

.view{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  height: 400px;
  margin-right: 45px;
  padding-bottom: 15px;
}

.view > #result{
  color: #FFF;
  font-size: 50px;
}

#history{
  font-size: 30px;
  color: #728AB7;
}

.buttons{
  padding: 20px;
  padding-top: 40px;
  background-color: #F1F1F4;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  height: 100%;
  border-radius: 10px 10px 20px 20px;
}

.buttons > button{
  box-shadow: 8px 8px 15px 3px #00000010, -8px -8px 15px 3px #ffffffb0;
  border: none;
  height: 55px;
  width: 55px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 25px;
  border: 1px solid #F1F1F4;
}

button:hover{
  background-color: #cccccc;
  border: 1px solid #728AB7;
}

#zero{
  width: 130px;
}

.number{
  color: #728AB7;
}

.operator{
  color: #745FF2;
}

.equals{
  color: white;
  background-color: #2DD3C5;
  border: 1px solid #2DD3C5;
}

.equals:hover{
  background-color: #28a59a;
  border: 1px solid #728AB7;
}

#reset{
  color: #FFF;
  background-color: #d44141;
  border: 1px solid #d44141;
}

#reset:hover{
  background-color: #a73939;
  border: 1px solid #728AB7;
}

.extra{
  color: #898989;
}

#effect{
  background-color: rgb(224, 223, 223);
  border: 2px solid #f3f2f2;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px #00000026;
  height: 2px;
  width: 100px;
  position: absolute;
  top: 357px;
}

.frufrus{
  height: 100%;
}

.small-square{
  height: 250px;
  width: 200px;
  position: absolute;
  border-radius: 15px;
  top: 160px;
  left: 120px;
  box-shadow: 8px 8px 15px 3px #0000001c, -8px -8px 15px 3px #ffffff;
}

.square{
  height: 300px;
  width: 300px;
  position: absolute;
  border-radius: 15px;
  top: 100px;
  right: 200px;
  box-shadow: 8px 8px 15px 3px #0000001c, -8px -8px 15px 3px #ffffff;
}

.small-circle{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
  bottom: 100px;
  right: 140px;
  box-shadow: 8px 8px 15px 3px #0000001c, -8px -8px 15px 3px #ffffff;
}

.circle{
  height: 300px;
  width: 300px;
  position: absolute;
  border-radius: 50%;
  bottom: 40px;
  left: 140px;
  box-shadow: 8px 8px 15px 3px #0000001c, -8px -8px 15px 3px #ffffff;
}

.dots{
  height: 300px;
  width: 300px;
  position: absolute;
  top: 35px;
  left: 685px;
  z-index: -1;
  background-image: radial-gradient(circle, #8989896b, #8989896b , transparent 30%, transparent 100%);
  background-size: 30px 30px;
}

.dots1{
  height: 300px;
  width: 300px;
  position: absolute;
  bottom: 110px;
  right: 685px;
  z-index: -1;
  background-image: radial-gradient(circle, #8989896b, #8989896b , transparent 30%, transparent 100%);
  background-size: 30px 30px;
}

#result{
  border-right: 3px solid #F1F1F4;
}

@media only screen and (max-width: 1600px) {
  .frufrus{
    display: none;
  }
}

@media only screen and (max-height: 670px) {
  .frufrus{
    display: none;
  }

  main{
    margin: 5px;
  }
  
  #effect{
    top: 260px;
  }

  .calculator{
    height: 650px;
  }
}

@media only screen and (max-height: 812px) {
  .frufrus{
    display: none;
  }

  main{
    margin: 5px;
  }
  
  #effect{
    top: 265px;
  }

  .calculator{
    height: 700px;
  }
}