*{
  padding: 0;
  margin: 0;
}

.calculator{
  background-color: #232222;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 740px;
  border-radius: 20px;
}

.view{
  display: flex;
  flex-direction: row-reverse;
  height: 200px;
  
}

.buttons{
  padding-top: 90px;
  padding-bottom: 40px;
  background-color: #F1F1F4;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 10px 10px 20px 20px;
}

.buttons > button{
  box-shadow: 0 0 20px 8px #00000011;
  border: none;
  height: 7vh;
  width: 7vw;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.buttons > button:hover{
  filter: brightness(0.7);
}

#zero{
  width: 16vw;
}