*{
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

body{
  background-color: #F0F0F3;
}

main{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.calculator{
  background-color: #232222;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 700px;
  border-radius: 20px;
  box-shadow: 0 0 15px 8px #0000002a;
}

.view{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 200px;
  margin-top: 170px;
  margin-right: 30px;
}

.view > span{
  color: #FFF;
  font-size: 60px;
}

#history{
  font-size: 30px;
  color: #728AB7;
}

.buttons{
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #F1F1F4;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 10px 10px 20px 20px;
}

.buttons > button{
  box-shadow: 8px 8px 15px 3px #00000010, -8px -8px 15px 3px #ffffffb0;
  border: none;
  height: 70px;
  width: 70px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 25px;
}

button:hover{
  background-color: #cccccc;
}

.equals:hover{
  background-color: #28a59a;
}

#zero{
  width: 160px;
}

.number{
  color: #728AB7;
}

.operator{
  color: #745FF2;
}

.equals{
  color: white;
  background-color: #2DD3C5;
}

.extra{
  color: #898989;
}

#effect{
  background-color: rgb(236, 236, 236);
  border: 2px solid #f3f2f2;
  border-radius: 5px;
  box-shadow: 8px 8px 15px 3px #00000010;
  height: 5px;
  width: 100px;
  position: absolute;
  top: 385px;
}

.frufrus{
  height: 100%;
}

.small-square{
  height: 250px;
  width: 200px;
  position: absolute;
  border-radius: 15px;
  top: 160px;
  left: 120px;
  box-shadow: 8px 8px 15px 3px #0000001c, -8px -8px 15px 3px #ffffff;}

.square{
  height: 300px;
  width: 300px;
  position: absolute;
  border-radius: 15px;
  top: 100px;
  right: 200px;
  box-shadow: 8px 8px 15px 3px #0000001c, -8px -8px 15px 3px #ffffff;}

.small-circle{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
  bottom: 100px;
  right: 140px;
  box-shadow: 8px 8px 15px 3px #0000001c, -8px -8px 15px 3px #ffffff;
}

.circle{
  height: 300px;
  width: 300px;
  position: absolute;
  border-radius: 50%;
  bottom: -80px;
  left: 140px;
  box-shadow: 8px 8px 15px 3px #0000001c, -8px -8px 15px 3px #ffffff;
}

@media only screen and (max-width: 1600px) {
  .frufrus{
    display: none;
  }
}